.no-position-modal{
  position: initial;
  overflow: initial !important;
}
.login-form-container {
  width: 600px;
  margin: 200px auto;
  display: grid;
  justify-items: center;
}
.register-form-container {
  width: 900px;
  margin: 200px auto;
  display: grid;
  justify-items: center;
}


/* Login Form Style */
.login-form-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #FFF;
  border-radius: 4px;
  padding: 20px 30px;
}
.login-form-content .form-heading h2{
  margin-bottom: 20px;
  text-align: center;
}
.login-form-content .form-group{
  display: block;
  margin-bottom: 20px;
}
.login-form-content .form-group label{
  display: block;
  margin-bottom: 0
}
.login-form-content .form-group .form-control{
  margin-bottom: auto;
}
.form-action{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form-action label{
  margin-bottom: 0;
}
.login-option{
  margin-top: 20px;
}
.login-option label{
  margin: auto;
}

/* Footer Style */
.footer-logo > img{
    max-width: 140px;
    filter: drop-shadow(6px 0px 0px rgb(0 0 0 / 30%));
}
